<section class="about bg-gray-100 py-16">
   <div class="container mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
      <div class="flex flex-col lg:flex-row justify-between gap-8">
         <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-900  pb-4">About Us</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">Welcome to ShopEasy, your one-stop
               destination for the latest and trendiest sneakers!
               <br>
               <br>
               At ShopEasy, we're more than just
               an online shoe store - we're a community of sneaker enthusiasts dedicated to bringing you the perfect
               blend of style,
               comfort, and performance.
               <br>
               At ShopEasy, we're not just selling sneakers; we're offering an experience. Join us in stepping into a
               world where
               fashion meets function. Elevate your sneaker game with ShopEasy - where every step is a statement.
               <br>
               <br>
               Thank you for choosing ShopEasy - Walk with Style, Stride with Confidence!
            </p>
         </div>
         <div class="w-full lg:w-8/12">
            <img class="w-full h-full" src="https://source.unsplash.com/random/?meetings,teamwork"
               alt="A group of People" />
         </div>
      </div>

      <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
         <div class="w-full lg:w-5/12 flex flex-col justify-center">
            <h1 class="text-3xl lg:text-4xl font-bold leading-9 text-gray-900  pb-4">Our Story</h1>
            <p class="font-normal text-base leading-6 text-gray-600 dark:text-white">Born out of a shared passion for
               sneakers, ShopEasy emerged with a simple yet powerful mission: to redefine your sneaker
               experience. What started as a vision to provide the latest trends and timeless classics has evolved into
               a curated haven
               for footwear enthusiasts.
               <br>
               <br>
               Join us on this exciting journey. Step into a world where each pair of sneakers tells a story, and your
               style knows no
               bounds. This is ShopEasy – Where Sneaker Dreams Begin.

            </p>
         </div>
         <div class="w-full lg:w-8/12 lg:pt-8">
            <div class="grid grid-cols-1">
               <div class="p-4 pb-6 flex justify-center flex-col items-center">
                  <img class="md:block hidden" src="/images/shoes-bg.jpg" alt="Alexa featured Image" />
                  <img class="md:hidden block" src="/images/shoes-bg.jpg" alt="Alexa featured Image" />
                  <p class="font-medium text-xl leading-5 text-gray-800 dark:text-white mt-4">Created With Love</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>