<section class="cart py-16">
  <!-- If there is a items in your cart -->
  <div class="order container mx-auto w-1/2 ">
    <div class="flex items-center border-b border-gray-300 pb-4">
      <img class="w-10" src="/images/cart-black.png" alt="">
      <h1 class="ml-4 font-bold text-2xl">Order Details</h1>
    </div>
    <div class="sneaker-list">
      <div class="flex items-center my-8">
        <img class="w-48" src="/images/hero-shoes.jpg" alt="image">
        <div class="ml-4 flex-1">
          <h1>Puma RX 737 MMQ</h1>
          <span>Size : 39</span>
        </div>
        <span class="flex-1">Qty : 1</span>
        <span class="font-bold text-lg">₹1,999</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-48" src="/images/hero-shoes1.jpg" alt="image">
        <div class="ml-4 flex-1">
          <h1>Puma RX 737 MMQ</h1>
          <span>Size : 39</span>
        </div>
        <span class="flex-1">Qty : 1</span>
        <span class="font-bold text-lg">₹1,999</span>
      </div>
      <div class="flex items-center my-8">
        <img class="w-48" src="/images/hero-shoes2.jpg" alt="image">
        <div class="ml-4 flex-1">
          <h1>Puma RX 737 MMQ</h1>
          <span>Size : 39</span>
        </div>
        <span class="flex-1">Qty : 1</span>
        <span class="font-bold text-lg">₹1,999</span>
      </div>
    </div>
    <hr>
    <div>
      <div class="text-right py-4">
        <span class="font-bold text-xl">Subtotal :</span>
        <span class="amount font-bold text-2xl ml-2">₹4,998</span>
        <div>
          <form action="" class="mt-6">
            <input type="text" placeholder="Enter Phone Number"
              class="p-2 w-1/2 border border-gray-400 mb-4 rounded-xl">
            <input type="text" placeholder="Enter Address" class="p-2 w-1/2 border border-gray-400 rounded-xl">
            <div>
              <button type="submit" class="btn-primary px-4 py-2 rounded-lg text-white font-bold text-lg mt-4">Place
                Order</button>
            </div>
          </form>
        </div>
        <!-- <a href="/" class="inline-block btn-primary px-4 py-2 rounded-lg text-white font-bold text-lg mt-4">Login to
          your
          account</a> -->
      </div>
    </div>
  </div>
  <!-- <div class=" empty-cart py-16">
          <div class="container mx-auto text-center">
            <h1 class="text-3xl mb-4 font-bold mb-4">Your cart is empty!!</h1>
            <p class=" text-lg mb-4 text-gray-500">You have no items in your shopping cart.
              <br>
              Start adding items to your cart to checkout.
            </p>
            <img class="mx-auto mb-8 w-1/2" src="/images/empty-cart-image.jpg" alt="empty-cart image">
            <a href="/" class="inline-block py-4 px-6 rounded-full text-white font-bold btn-primary">Shop
              Now</a>
          </div>
      </div> -->
</section>