<section class="status">
   <div class="container mx-auto">
      <div class="status-box w-full mb-12 lg:w-3/4 mx-auto">
         <div class="flex items-center justify-between mb-24">
            <h1 class="text-xl md:text-3xl font-bold">Track Delivery Status</h1>
            <h6 class="bg-gray-200 font-bold text-orange-700 text-md md:text-xl py-2 rounded-xl px-4">Order Details:-
               <p class="text-sm font-semibold"> Order Id :
                  <span class="text-sm font-light text-black">
                     <%= order._id %>
                  </span>
               </p>
               <p class="text-sm font-semibold"> Order Address :
                  <span class="text-sm font-light text-black">
                     <%= order.address %>
                  </span>
               </p>
               <p class="text-sm font-semibold"> Phone Number :
                  <span class="text-sm font-light text-black">
                     <%= order.phone %>
                  </span>
               </p>
            </h6>
            <input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
         </div>
         <ul class="">
            <li class="status_line text-lg md:text-xl pb-16" data-status="order_placed"><span>Order Placed</span>
            </li>
            <li class="status_line text-lg md:text-xl pb-16" data-status="confirmed"><span>Order confirmation</span>
            </li>
            <li class="status_line text-lg md:text-xl pb-16" data-status="prepared"><span>Shipping</span></li>
            <li class="status_line text-lg md:text-xl pb-16" data-status="delivered"><span>Out for delivery </span>
            </li>
            <li class="status_line text-lg md:text-xl" da16-status="completed"><span>Complete</span></li>
         </ul>
      </div>
   </div>
</section>